---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

// Obtén los datos dentro de una función asincrónica
let corporal = [];
try {
  const collection = await getCollection("corporal");
  // Ordenar por fecha
  corporal = collection.sort(
    (a, b) => new Date(b.data.date) - new Date(a.data.date)
  );
} catch (error) {
  console.error("Error fetching collection:", error);
}
---

<Layout title="Masajes y Rituales de Belleza Corporal" description="Masajes y rituales de belleza que reunuevan cuerpo y mente." image="https://jpkrym3dxeegggaqio6twcucmmsfywwfoi3z7bzxqy75iatnvblq.arweave.net/S9UcM2O5CGMYEEO9OwqCYyRcWsVyN5-HN4Y_1AJtqFc" keywords="masajes corporal, tratamiento corporal, estética, relajación, ritual corporal, bienestar, belleza">
  <section>
    <div id="contenedor">
      {corporal.map(({ slug, data }) => {
        const { title, img, precio, descripcion, categoria } = data;

        return (
          <div class="card">
            <a class="image" href={`/corporal/${slug}`}>
              <img transition:name={`img-${slug}`} src={img} alt={title} />
              <div class="text-overlay">
                <p>{categoria}</p>
                {/* <p>{descripcion}</p> */}
              </div>
            </a>
            <div class="content">
              <a href={`/corporal/${slug}`}>
                <span transition:name={`title-${slug}`} class="title">{title}</span>
              </a>
              <p>{descripcion}</p>
            </div>
          </div>
        );
      })}
    </div>
  </section>
</Layout>



<style>

  section {
    background-color: #fff;
  }

  a {
    color: #fff;
    
  }
   
  img {
    width: 100%;
    object-fit: cover;
    height: 230px;
    transition: all 0.3s ease;

  }

  img:hover {
    transform: scale(1.1);
  }

  #ubicacion {
    display: flex;
  }

  #ubicacion img {
    width: auto;
    height: 18px;
  }

  .habitaciones {
    width: 107px;
    text-align: center;
    outline: 2px dashed rgb(72 12 168 / 16%);
    padding: 5px 0;

  }

  .características {
    display: flex;
    justify-content: center;
    gap: 4px
  }

  #contenedor {
    display: flex;
    justify-content: space-around;
    /* align-items:flex-start; */
    flex-wrap: wrap;
    /* height: 100vh; */
    background-color: #1b6a65;
  }
  

  .texto-content img {
    width: auto;
    height: 18px;
  }

  .texto-content {
    display: flex;
    align-items: center;
    height: 60px;
    /* outline: 2px dashed rgb(72 12 168 / 16%); */
    /* padding: 0 10px; */
    justify-content: space-around;
  }

  .texto-content p {
    color: #000;
  }

   /* From Uiverse.io by Yaya12085 */ 
.card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 357px;
  /* height: max-content; */
  margin: 16px 0;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  box-shadow: 0px 0px 4px rgba(72 12 168 / 16%);
}

.card:hover {
  box-shadow: 12px 12px 50px rgba(0, 0, 0, 0.4);
}
.card a {
  
  /* text-decoration: none */

}

.content {
  display: block;
  margin: 5px 15px 0 15px;
}

.content a:hover {
  color: #000;
}

.content p {
  font-weight: 400;
  margin-top: 4px;
}

.image {
  object-fit: cover;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  /* width: 100%; */
  /* height: 150px; */
  /* background-color: rgb(239, 205, 255); */
}

.text-overlay {
  position: absolute;
  top: 190px;
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(27, 106, 101, 0.3), rgba(27, 106, 101, 1));
  /* background: linear-gradient(rgba(221, 181, 49, 0.3), rgba(221, 181, 49, 1)); */
  color: #fff; /* Texto en blanco */
  opacity: 1; /* Ocultar inicialmente */
  transition: opacity 0.3s ease; /* Transición suave */
}

.text-overlay p {
  margin: 0 16px;
  font-size: 1rem;
  /* font-weight: bold; */
}

.title {
  color: #1b6a65;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.desc {
  /* margin-top: 0.5rem; */
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

</style>
